# Postgres config
DB_CONNECTION_STRING=postgres://postgres:postgres@pgdb:5432/wallet
# Kafka config
KAFKA_HOSTNAME=broker
KAFKA_PORT=29092
KAFKA_TOPIC=wallet-transaction
CONSUMER_GROUP_ID=wallet-consumer
